jstring/dfdl/schema.dfdl.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
schema.dfdl.xsd - XML Schema for JSON Strings

Ben Cavanagh
7-8-2025
Version 1

--> 

<!-- Import xml library and extensions (namespace sources) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
  xmlns:dfdlx="http://www.ogf.org/dfdl/dfdl-1.0/extensions">

  <xs:include schemaLocation="/org/apache/daffodil/xsd/DFDLGeneralFormat.dfdl.xsd"/>

  <xs:annotation>
    <xs:appinfo source="http://www.ogf.org/dfdl/">
      <dfdl:format ref="GeneralFormat"/>
    </xs:appinfo>
  </xs:annotation>

  <!--
  ***************************************
  xBNF-style element-by-element build up:
  ***************************************
  -->
  <xs:simpleType name="escape_t" dfdl:lengthKind="explicit" dfdl:length="1">
    <xs:restriction base="xs:string">
      <xs:enumeration value="\"/> <!-- Not regex so doesn't need \\ -->
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="special_t" dfdl:lengthKind="explicit" dfdl:length="1">
    <xs:restriction base="xs:string">
      <xs:pattern value='[&quot;\\/bfnrt]'/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="unicode_t" dfdl:lengthKind="explicit" dfdl:length="1">
    <xs:restriction base="xs:string">
      <xs:pattern value="u"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="hexdig_t" dfdl:lengthKind="explicit" dfdl:length="1">
    <xs:restriction base="xs:string">
      <xs:pattern value='[0-9a-fA-F]'/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="escseq_t">
    <xs:sequence>
      <xs:element name="escape" type="escape_t">
        <xs:annotation><xs:appinfo source="http://www.ogf.org/dfdl/">
          <dfdl:discriminator testKind="pattern" testPattern='\\'/>
        </xs:appinfo></xs:annotation>
      </xs:element>
      <xs:choice>
        <xs:sequence>
          <xs:element name="unicode" type="unicode_t">
            <xs:annotation><xs:appinfo source="http://www.ogf.org/dfdl/">
              <dfdl:discriminator testKind="pattern" testPattern="u"/>
            </xs:appinfo></xs:annotation>
          </xs:element>
          <xs:element name="hexdig" type="hexdig_t" minOccurs="4" maxOccurs="4">
            <xs:annotation><xs:appinfo source="http://www.ogf.org/dfdl/">
              <dfdl:discriminator testKind="pattern" testPattern="[0-9a-fA-F]"/>
            </xs:appinfo></xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:element name="special" type="special_t">
          <xs:annotation><xs:appinfo source="http://www.ogf.org/dfdl/">
            <dfdl:discriminator test="{ . eq '&quot;' or . eq '\' or . eq '/' or . eq 'b' or . eq 'f' or . eq 'n' or . eq 'r' or . eq 't' }"/>
          </xs:appinfo></xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="char_t">
    <xs:choice>
      <xs:element name="normal" type="xs:string" dfdl:lengthKind="explicit" dfdl:length="1">
        <xs:annotation><xs:appinfo source="http://www.ogf.org/dfdl/">
          <dfdl:discriminator test="{ . ne '\' and . ne '&quot;' }"/>
        </xs:appinfo></xs:annotation>
      </xs:element>
      <xs:element name="escseq" type="escseq_t"/>
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="string_t">
    <xs:sequence>
      <xs:element name="char" type="char_t" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="JSON_string" type="string_t">
    <xs:annotation><xs:appinfo source="http://www.ogf.org/dfdl/">
      <dfdl:element lengthKind="delimited">
        <dfdl:property name="initiator">%#r22;</dfdl:property>
        <dfdl:property name="terminator">%#r22;</dfdl:property>
      </dfdl:element>
    </xs:appinfo></xs:annotation>
  </xs:element>

</xs:schema>
