spp/dfdl/spp_old.dfdl.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
gmr.dfdl.xsd - XML Schema for Space Packet Protocol


6-27-2025

--> 

<!-- Import xml library and extensions (namespace sources) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
  xmlns:dfdlx="http://www.ogf.org/dfdl/dfdl-1.0/extensions">

  <xs:include schemaLocation="/org/apache/daffodil/xsd/DFDLGeneralFormat.dfdl.xsd"/>

  <xs:annotation>
    <xs:appinfo source="http://www.ogf.org/dfdl/">
      <dfdl:format ref="GeneralFormat" bitOrder="mostSignificantBitFirst"
        byteOrder="bigEndian" representation="binary" lengthUnits="bits"
        lengthKind="explicit" alignmentUnits="bits" alignment="1" binaryNumberRep="binary" />
    </xs:appinfo>
  </xs:annotation>

  <xs:element name="SpacePacket" dfdl:lengthKind="implicit">
    <xs:complexType>
      <xs:sequence>
        <!--==========================-->
        <!-- 1. Packet Primary Header -->
        <!--==========================-->
        <xs:element name="PrimaryHeader" dfdl:lengthKind="implicit">
          <xs:complexType>
            <xs:sequence>
              <!--===========================-->
              <!-- 1.1 Packet Version Number -->
              <!--===========================-->

              <!-- Bits 0-2: Packet Version Number
              Should always be "000"
              -->
              <xs:element name="Version" dfdl:length="3">
                <xs:simpleType>
                  <xs:restriction base="xs:unsignedByte">
                    <xs:maxInclusive value="48"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>

              <!--=================================-->
              <!-- 1.2 Packet Identification Field -->
              <!--=================================-->

              <!-- Bit 3: Packet Type
              "0" -> Telemetry or reporting packet
              "1" -> Telecommand or requesting packet
              --> 
              <xs:element name="Type" 
                type="xs:unsignedByte" dfdl:length="1"/>

              <!-- Bit 4: Secondary Header Flag
              "0" -> Secondary header not present
              "1" -> Secondary header present
              --> 
              <xs:element name="SecondaryHeaderFlag"
                type="xs:unsignedByte" dfdl:length="1"/>

              <!-- Bits 5-15: Application Process Identifier
              Vehicle-specific
              "111 1111 1111" -> Idle packet
              --> 
              <xs:element name="APID"
                type="xs:unsignedByte" dfdl:length="11"/>

              <!--=============================-->
              <!-- 1.3 Packet Sequence Control -->
              <!--=============================-->

              <!-- Bits 16-17: Sequence Flags
              "00" -> Continuation segment of User Data
              "01" -> First segment of User Data
              "10" -> Second segment of User Data
              "11" -> Unsegmented User Data (incl. Octet String Service)
              --> 
              <xs:element name="SequenceFlags"
                type="xs:unsignedByte" dfdl:length="2"/>

              <!-- Bits 18-31: Packet Sequence Count or Packet Name
              Must be packet sequence count if type 0
              May be either count/name if type 1
              --> 
              <xs:element name="SequenceCount"
                type="xs:unsignedByte" dfdl:length="14"/>

              <!--========================-->
              <!-- 1.4 Packet Data Length -->
              <!--========================-->

              <!-- Bits 32-47: Packet Data Length
              Provides packet data length C,
              where C = # of data octets - 1
              --> 
              <xs:element name="PacketDataLength"
                type="xs:unsignedByte" dfdl:length="16"/>

            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <!--======================-->
        <!-- 2. Packet Data Field -->
        <!--======================-->
        <xs:element name="PacketDataField" dfdl:length="{../PrimaryHeader/PacketDataLength * 8 + 8}">
          <xs:complexType>
            <xs:sequence>
              <!--=============================-->
              <!-- 2.1 Packet Secondary Header -->
              <!--=============================-->
              <xs:element name="SecondaryHeader" dfdl:lengthKind="implicit"
                minOccurs="0" maxOccurs="1"
                dfdl:occursCountKind="expression" dfdl:occursCount="{../../PrimaryHeader/SecondaryHeaderFlag}">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Octet" type="xs:hexBinary"
                      dfdl:length="8" minOccurs="0" maxOccurs="65536"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

              <!--=====================-->
              <!-- 2.2 User Data Field -->
              <!--=====================-->
              <xs:element name="UserDataField" dfdl:lengthKind="implicit"
                minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Octet" type="xs:hexBinary"
                      dfdl:length="8" minOccurs="0" maxOccurs="65536"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

            </xs:sequence>
          </xs:complexType>
        </xs:element>

      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
