mavlink_3_msgs/dfdl/schema.dfdl.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
gmr.dfdl.xsd - XML Schema for three MAVLink message types


8-17-2025

--> 

<!-- Import xml library and extensions (namespace sources) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
  xmlns:dfdlx="http://www.ogf.org/dfdl/dfdl-1.0/extensions">

  <xs:include schemaLocation="/org/apache/daffodil/xsd/DFDLGeneralFormat.dfdl.xsd"/>

  <xs:annotation>
    <xs:appinfo source="http://www.ogf.org/dfdl/">
      <dfdl:format ref="GeneralFormat" representation="binary"
        lengthUnits="bytes"/>
    </xs:appinfo>
  </xs:annotation>

  <xs:element name="message" type="message_t"/>

  <!-- Top-level message definition -->
  <xs:complexType name="message_t">
    <xs:sequence>
      <xs:element name="stx" type="stx_t"/>
      <xs:sequence>
        <xs:element name="M1" type="M1_t"
          minOccurs="0" maxOccurs="1"
          dfdl:occursCountKind="expression"
          dfdl:occursCount="{ if (../stx eq xs:hexBinary('FE')) then 1 else 0 }" />
        <xs:element name="M2" type="M2_t"
          minOccurs="0" maxOccurs="1"
          dfdl:occursCountKind="expression"
          dfdl:occursCount="{ if (../stx eq xs:hexBinary('FD')) then 1 else 0 }" />
      </xs:sequence>
    </xs:sequence>
  </xs:complexType>

  <!-- MAVLink 1.0 general message definition -->
  <xs:complexType name="M1_t">
    <xs:sequence>
      <xs:element name="len" type="len_t"/>
      <xs:element name="seq" type="seq_t"/>
      <xs:element name="sysid" type="sysid_t"/>
      <xs:element name="compid" type="compid_t"/>
      <xs:element name="M1_msgid" type="M1_msgid_t"/>
      <xs:sequence>
        <xs:element name="sp_M1" type="sp_M1_t"
          minOccurs="0" maxOccurs="1"
          dfdl:occursCountKind="expression"
          dfdl:occursCount="{ if (../M1_msgid eq xs:hexBinary('1D')) then 1 else 0 }" />
        <xs:element name="att_M1" type="att_M1_t"
          minOccurs="0" maxOccurs="1"
          dfdl:occursCountKind="expression"
          dfdl:occursCount="{ if (../M1_msgid eq xs:hexBinary('1E')) then 1 else 0 }" />
        <xs:element name="gpi_M1" type="gpi_M1_t"
          minOccurs="0" maxOccurs="1"
          dfdl:occursCountKind="expression"
          dfdl:occursCount="{ if (../M1_msgid eq xs:hexBinary('21')) then 1 else 0 }" />
      </xs:sequence>
      <xs:element name="checksum" type="checksum_t"/>
    </xs:sequence>
  </xs:complexType>

  <!-- MAVLink 2.0 general message definition -->
  <xs:complexType name="M2_t">
    <xs:sequence>
      <xs:element name="len" type="len_t"/>
      <xs:element name="inc_flags" type="inc_flags_t"/>
      <xs:element name="comp_flags" type="comp_flags_t"/>
      <xs:element name="seq" type="seq_t"/>
      <xs:element name="sysid" type="sysid_t"/>
      <xs:element name="compid" type="compid_t"/>
      <xs:element name="M2_msgid" type="M2_msgid_t"/>
      <xs:sequence>
        <xs:element name="sp_M2" type="sp_M2_t"
          minOccurs="0" maxOccurs="1"
          dfdl:occursCountKind="expression"
          dfdl:occursCount="{ if (../M2_msgid eq xs:hexBinary('1D0000')) then 1 else 0 }" />
        <xs:element name="att_M2" type="att_M2_t"
          minOccurs="0" maxOccurs="1"
          dfdl:occursCountKind="expression"
          dfdl:occursCount="{ if (../M2_msgid eq xs:hexBinary('1E0000')) then 1 else 0 }" />
        <xs:element name="gpi_M2" type="gpi_M2_t"
          minOccurs="0" maxOccurs="1"
          dfdl:occursCountKind="expression"
          dfdl:occursCount="{ if (../M2_msgid eq xs:hexBinary('210000')) then 1 else 0 }" />
      </xs:sequence>
      <xs:element name="checksum" type="checksum_t"/>
      <xs:sequence>
        <xs:element name="signature" type="signature_t"
          minOccurs="0" maxOccurs="1"
          dfdl:occursCountKind="expression"
          dfdl:occursCount="{ if (../inc_flags eq xs:hexBinary('01')) then 1 else 0 }" />
      </xs:sequence>
    </xs:sequence>
  </xs:complexType>

  <!-- Field types -->
  <xs:simpleType name="stx_t" dfdl:lengthKind="explicit" dfdl:length="1">
    <xs:restriction base="xs:hexBinary">
      <xs:enumeration value="FE"/>
      <xs:enumeration value="FD"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="len_t" dfdl:lengthKind="explicit" dfdl:length="1">
    <xs:restriction base="xs:unsignedByte"/>
  </xs:simpleType>

  <xs:simpleType name="inc_flags_t" dfdl:lengthKind="explicit" dfdl:length="1">
    <xs:restriction base="xs:hexBinary">
      <xs:enumeration value="00"/>
      <xs:enumeration value="01"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="comp_flags_t" dfdl:lengthKind="explicit" dfdl:length="1">
    <xs:restriction base="xs:hexBinary">
      <xs:enumeration value="00"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="seq_t" dfdl:lengthKind="explicit" dfdl:length="1">
    <xs:restriction base="xs:hexBinary"/>
  </xs:simpleType>

  <xs:simpleType name="sysid_t" dfdl:lengthKind="explicit" dfdl:length="1">
    <xs:restriction base="xs:hexBinary"/>
  </xs:simpleType>

  <xs:simpleType name="compid_t" dfdl:lengthKind="explicit" dfdl:length="1">
    <xs:restriction base="xs:hexBinary"/>
  </xs:simpleType>

  <xs:simpleType name="M1_msgid_t" dfdl:lengthKind="explicit" dfdl:length="1">
    <xs:restriction base="xs:hexBinary">
      <xs:enumeration value="1D"/> <!-- 29 in hex -->
      <xs:enumeration value="1E"/> <!-- 30 in hex -->
      <xs:enumeration value="21"/> <!-- 33 in hex -->
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="M2_msgid_t" dfdl:lengthKind="explicit" dfdl:length="3">
    <xs:restriction base="xs:hexBinary">
      <xs:enumeration value="1D0000"/>
      <xs:enumeration value="1E0000"/>
      <xs:enumeration value="210000"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="pyldbyte_t" dfdl:lengthKind="explicit" dfdl:length="1">
    <xs:restriction base="xs:hexBinary"/>
  </xs:simpleType>

  <xs:simpleType name="checksum_t" dfdl:lengthKind="explicit" dfdl:length="2">
    <xs:restriction base="xs:hexBinary"/>
  </xs:simpleType>

  <xs:simpleType name="signature_t" dfdl:lengthKind="explicit" dfdl:length="13">
    <xs:restriction base="xs:hexBinary"/>
  </xs:simpleType>

  <!-- Message types -->
  <xs:complexType name="sp_M1_t">
    <xs:sequence>
      <xs:element name="payload" type="pyldbyte_t"
        minOccurs="0" maxOccurs="255"
        dfdl:occursCountKind="expression"
        dfdl:occursCount="{ ../../len }" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="att_M1_t">
    <xs:sequence>
      <xs:element name="payload" type="pyldbyte_t"
        minOccurs="0" maxOccurs="255"
        dfdl:occursCountKind="expression"
        dfdl:occursCount="{ ../../len }" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="gpi_M1_t">
    <xs:sequence>
      <xs:element name="payload" type="pyldbyte_t"
        minOccurs="0" maxOccurs="255"
        dfdl:occursCountKind="expression"
        dfdl:occursCount="{ ../../len }" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sp_M2_t">
    <xs:sequence>
      <xs:element name="payload" type="pyldbyte_t"
        minOccurs="0" maxOccurs="255"
        dfdl:occursCountKind="expression"
        dfdl:occursCount="{ ../../len }" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="att_M2_t">
    <xs:sequence>
      <xs:element name="payload" type="pyldbyte_t"
        minOccurs="0" maxOccurs="255"
        dfdl:occursCountKind="expression"
        dfdl:occursCount="{ ../../len }" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="gpi_M2_t">
    <xs:sequence>
      <xs:element name="payload" type="pyldbyte_t"
        minOccurs="0" maxOccurs="255"
        dfdl:occursCountKind="expression"
        dfdl:occursCount="{ ../../len }" />
    </xs:sequence>
  </xs:complexType>

</xs:schema>

